{% extends "base.html" %}

{% block body %}
<link rel="stylesheet" href="/css/editor.css">
<div id="main">
	<div id="controls">
		<select id="buildings">
			{% for building in buildings %}
				<option value="{{buiding.number}}" data-floors="{{ building.floors }}">{{building.number}}</option>
			{% endfor %}
		</select>
		<select id="floors">
		</select>
		<button onclick="loadFloor()">LOAD</button>
		<button onclick="tool.select.start()"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i></button>
		<button onclick="tool.node.start();tool.node.type='room';"><i class="fa fa-map-marker" aria-hidden="true"></i></button>
		<button onclick="tool.node.start();tool.node.type='stairs';">stairs</button>
		<button onclick="tool.node.start();tool.node.type='elevator';">elevator</button>
		<button onclick="tool.eraser.start()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
		<button onclick="tool.line.start()"><i class="material-icons">timeline</i></button>
		<button onclick="manageJunctions()">manage junctions</button>
	</div>
	<div id="junction-manager" style="display:none">

	</div>
	<div id="pdf-cont">
		<canvas id="canvas"></canvas>

		<div id="info" style="display:none">
			<input id="name" placeholder="Name">
			<select id="type">
				<option value="room" selected>Room</option>
				<option value="stairs">Stairs</option>
				<option value="elevator">Elevator</option>
				<option value="switch">Switch</option>
			</select>
			<div id="junction-only" style="display:none">
				<select id="junction-select">
				</select>
				<button onclick="manageJunctions()">MANAGE JUNCTIONS</button>
			</div>
			<button onclick="saveSelect()">SAVE</button>
			<button onclick="closeSelect()">CLOSE</button>
		</div>


		<svg id="svg">
			<circle cx="860" class="node-hover" cy="208" r="5" style="fill: green;display:none"></circle>
			<line x1="0" y1="0" x2="0" y2="0" stroke-width="3" stroke="green" style="display:none" class="line-hover"></line>
			<g id="data-lines"></g>
			<g id="data-points"></g>
			<g id="data-result"></g>
		</svg>
	</div>
</div>

<script src="/pdf/build/pdf.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.4/d3.min.js"></script>
<script src="/js/editor.js"></script>
<script src="/js/tool.js"></script>
<script src="/js/editorInterface.js"></script>
<script src="/js/junctions.js"></script>
<script src="/js/api.js"></script>
<script src="/js/err.js"></script>
<script src="/js/dialog.js"></script>
{% endblock %}